.navbar {
    width: 30%;
    color: red;
    border-right: 1px solid grey;
    height: 600px;
}
.navbar a {
    text-decoration: none;
}
.navbar li {
    padding-top: 60px;
    list-style-type: none;
}
